<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Productos</title>
    <link rel="stylesheet" href="/css/admin/products/addProducts.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
    <%- include('../../partial/header'); %>

        <section class='addProductSection'>
            <div>

                <form action="/admin/products/create" id='formCreateAdd' class="formCreate" method="POST" enctype="multipart/form-data">

                    <div class='finalCardTitle'><span>Carga de Productos</span></div>

                    <div class='inputsContainerBox'>



                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Imagen: </span>
                            <input type="file" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputNameAdd" name="image">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Nombre: </span>
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputNameAdd" name="name">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Precio Compra: </span>
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputNameAdd" name="buyPrice">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Precio Venta: </span>
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputSellPriceAdd" name="sellPrice">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Descuento: </span>
                            <input type="number" class="form-control" placeholder="Ingrese el descuento..." aria-describedby="basic-addon1" id="inputDiscountAdd" name="discount">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Valoracion: </span>
                            <input type="number" class="form-control" placeholder="Ingrese el descuento..." aria-describedby="basic-addon1" id="inputValorationAdd" name="valoration">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Descripcion: </span>
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputDescriptionAdd" name="description">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Cantidad: </span>
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputAmountAdd" name="stock">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Codigo de Barras: </span>
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputBarcodeAdd" name="barcode">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Animal: </span>
                            <select hidden class="form-control" name="category" id="inputCategoryAdd" form="formCreateAdd">
                                <option value="default">Elija una categoria</option>
                                <option value="0">Gato</option>
                                <option value="1">Perro</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Tipo de Producto: </span>
                            <select class="form-control" name="subCategory" id="inputSubCategoryAdd" form="formCreateAdd">
                                <option hidden value="default">Elija tipo de producto</option>
                                <option value="0">Alimentos</option>
                                <option value="1">Higiene</option>
                                <option value="2">Juguetes</option>
                                <option value="3">Camas</option>
                            </select>
                        </div>


                    </div>

                    <div class="btn-group buttonOptionProduct" role="group" aria-label="...">
                        <button type="button" class="btn btn-default backButton">Volver</button>
                        <button type="button" class="btn btn-default cleanInputs">Limpiar campos</button>
                        <button type="submit" class="btn btn-default" id='productCreate'>Cargar</button>
                    </div>

                </form>
            </div>
        </section>




        <% if (data.productStatus == 'created') { %>
            <div id='operationSuccess'>
                <img id='successfulOperation' src="/img/admin/ok.gif" alt="">
            </div>
            <% } else if (data.productStatus == 'failed') { %>
                <div id='operationSuccess'>
                    <img id='failedOperation' src="/img/admin/error.gif" alt="">
                </div>
                <% } %>

</body>

<script>
    setTimeout(() => {
        document.getElementById('operationSuccess').style.display = 'none'
        document.getElementById('successfulOperation').style.display = 'none'
    }, 2500)
</script>

</html>