@import url('../header-navAdmin.css');
@import url('../../partials/background.css');
@import url('../menuAdmin.css');


#modifyProductView {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
}
