@import url('../menuAdmin.css');
@import url('../header-navAdmin.css');
@import url('../../partials/background.css');
@import url('../../partials/operationSuccess.css');
body {
    margin: 0;
    padding: 0;
}

.tables {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.tables>table {
    transform: scale(0.85);
}

.listButtom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    background-color: rgba(77, 77, 77, 0);
    border: none;
}

.listImg {
    width: 100%;
}

.backButton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.backButton>div {
    font-weight: bold;
    font-family: system-ui;
    font-size: 1.5em;
    box-sizing: border-box;
    width: 100px;
    border: 2px white solid;
    text-align: center;
    border-radius: 15px;
}

.backButton>div a {
    color: white;
}