<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/carritoPage.css">
</head>
<body>
    <header>
        <nav id='nav-carrito'>
            <div class='menu-container'>
                <figure class='menu-button'><img id='menu-button' src="/img/menu_lateral.svg" alt=""></figure>
            </div>
            <div  class='logo'>
                <figure class="figure-logo">
                    <img src="/img/logo.svg" alt="">
                </figure>
            </div>
            <div class='search-carrito'>
                <div>
                    <figure class="figure-search">
                        <img src="/img/search.png" alt="">
                    </figure>
                    <span id='amount-carrito'>1</span>
                </div>
                <div>
                    <figure class='carrito-button-container'>
                        <img id='carrito-button' src="/img/icon_carrito.svg" alt="">
                    </figure>
                </div>
            </div>
        </nav>
    </header>
    <section class='articulos-productos'>
        <div class='section-box'>
            <div id='articulos'>

            </div>
            <div class="agregar-mas">
                <span>+ Agregar productos</span>
            </div>
        </div>
        <div class='subtotal'>

        </div>
    </section>
    <section></section>
</body>
</html>