<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/carritoPage.css">
    <link rel="stylesheet" href="/css/menu-mobile.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <section id='menu-mobile'>
        <div id='menu-container' class=''>
            <div class='logo-close-menu'>
                <figure class="figure-logo">
                    <img src="/img/logo.svg" alt="">
                </figure>
                <a id='sidebar-close' href="">X</a>
            </div>
            <div class='menu-row' id='menu-inicio'>
                <figure><img src="/img/menu-icon-inicio.svg" alt=""></figure><span>Inicio</span>
            </div>
            <div class='menu-row' id='mis-pedidos'>
                <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Mis pedidos</span>
            </div>
            <div class='menu-row' id='mis-productos'>
                <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Mis productos</span>
            </div>
            <div class='menu-row' id='cambiar-clave'>
                <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Cambiar contraseña</span>
            </div>
            <div class='menu-row' id='cerrar-sesion'>
                <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Cerrar sesión</span>
            </div>
            <div class='menu-title'>Productos</div>
            <div class='menu-row' id='menu-dogs'>
                <figure><img src="/img/menu-icon-perro.svg" alt=""></figure><span>Perros</span>
            </div>
            <div class='menu-row' id='menu-cats'>
                <figure><img src="/img/menu-icon-gato.svg" alt=""></figure><span>Gatos</span>
            </div>
            <div class='menu-title'>Contacto</div>
            <div class='menu-row' id='menu-call'>
                <figure><img src="/img/menu-icon-telefono.svg" alt=""></figure><span>Llamanos</span>
            </div>
            <div class='menu-row' id='menu-chat'>
                <figure><img src="/img/menu-icon-chat.svg" alt=""></figure><span>Chatea con nosotros</span>
            </div>
        </div>
    </section>

    <header>
        <nav id='nav-carrito'>
            <div class='menu-container'>
                <figure class='menu-button'><img id='menu-button' src="/img/menu_lateral.svg" alt=""></figure>
            </div>
            <div class='seguir-comprando'>
                <div><span> < Seguir Comprando</span></div>
            </div>
            <div  class='logo'>
                <figure class="figure-logo">
                    <img src="/img/logo.svg" alt="">
                </figure>
            </div>
            <div class='search-carrito'>
                <div>
                    <figure class="figure-search">
                        <img src="/img/search.png" alt="">
                    </figure>
                </div>
                <div class='carrito-burble'>
                    <figure class='carrito-button-container'>
                        <img id='carrito-button' src="/img/icon_carrito.svg" alt="">
                    </figure>
                    <span id='amount-carrito'>1</span>
                </div>
            </div>
            <div class='profile-button'>
                <figure class='button-container'><img id='menu-button-desktop' src="/img/menu-icon-login-white.svg" alt=""></figure>
            </div>
        </nav>
    </header>


    <section class='articulos-productos'>
        <div class='section-box'>
            <!--Contenedor de articulos-->
            <div id='articulos' class='carrito-body'> 
                <div class='carrito-item'>
                    <div>
                        <div class='item-image-container'>
                            <figure class='item-figure'><img src="/img/item-test.png" alt=""></figure>
                        </div>
                        <div class='item-description-container'>
                            <div class="item-title"><span>Alimento marca X</span></div>
                            <div class="item-description"><span>Alimento para perro :v</span></div>
                        </div>
                        <div class='price-amount'>
                            <span>$20,99</span>
                            <div class='amount-controls'>
                                <div class='amount-put'>-</div>
                                <input class='amount' name="amount"
oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
type = "number"
maxlength = "3"
/>
                                <div class='amount-add'>+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='carrito-item'>
                    <div>
                        <div class='item-image-container'>
                            <figure class='item-figure'><img src="/img/item-test.png" alt=""></figure>
                        </div>
                        <div class='item-description-container'>
                            <div class="item-title"><span>Alimento marca X</span></div>
                            <div class="item-description"><span>Alimento para perro :v</span></div>
                        </div>
                        <div class='price-amount'>
                            <span>$20,99</span>
                            <div class='amount-controls'>
                                <div class='amount-put'>-</div>
                                <input class='amount' name="amount"
oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
type = "number"
maxlength = "3"
/>
                                <div class='amount-add'>+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin Contenedor de articulos-->
            <div class="agregar-mas">
                <span>+ Agregar productos</span>
            </div>
        </div>
        <div class='subtotal'>
            <div>
                <span>Subtotal: $<span>999.99</span></span>
            </div>
        </div>
    </section>
    <section class='buy-box'>
        <div>
            <div>
                <div class='box-info'>
                    <span>$<span id='totalizado'>999.99</span></span>
                    <span id='cant-products'>2 Productos</span>
                </div>
            </div>
            <div class='button-buy-container'>
                <button>Comprar</button>
            </div>
        </div>
    </section>
    <footer>
        <div class="sector">
            <div class="sector-title"><span>Nosotros</span></div>
            <div class="sector-info"><span>Preguntas frecuentes</span></div>
            <div class="sector-info"><span>Contactanos</span></div>
        </div>
        <div class="sector">
            <div class="sector-title"><span>Pago y Envío</span></div>
            <div class="sector-info"><span>Área de entrega</span></div>
            <div class="sector-info"><span>Medios de pago</span></div>
        </div>
        <div class="sector">
            <div class="sector-title"><span>Legales</span></div>
            <div class="sector-info"><span>Terminos y condiciones</span></div>
            <div class="sector-info"><span>Politica de Privacidad</span></div>
        </div>
    </footer>
</body>
<script src="/js/menu-mobile.js"></script>
</html>