<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forms.css">
    <title>Forms</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="user singinBox">
                <div class="imgBx"><img src="https://estaticos.muyinteresante.es/uploads/images/article/570b65e55bafe88a438b456a/perro_0.jpg"></div>
                <div class="formBx">
                    <form>
                        <h2>Inicio de Sesion</h2>
                        <input type="text" placeholder="Usuario">
                        <input type="password" placeholder="Contraseña">
                        <input type="submit" value="Iniciar sesion">
                        <p class="signup">¿No tienes cuenta? <a href="#" onclick="toggleForm();"> Obtén una cuenta.</a></p>
                    </form>
                </div>
            </div>

            <div class="user singupBox">
                <div class="formBx">
                    <form>
                        <h2>Registrate</h2>
                        <input type="text" placeholder="Usuario">
                        <input id="input-email" type="email" name="email" placeholder="Correo electronico">
                        <input type="password" placeholder="Contraseña">
                        <input type="password" placeholder="Reingrese la contraseña">
                        <input type="submit" value="Registrarse">
                        <p class="signup">¿Ya tiene cuentra? <a href="#" onclick="toggleForm();"> Inicie sesion.</a></p>
                    </form>
                </div>
                <div class="imgBx"><img src="https://www.respetmascotas.com/_Assets/img/181129-Imagen-AlimentacionMascotas.jpg"></div>
            </div>
        </div>
    </section>

    <script>
        function toggleForm(){
            section = document.querySelector('section');
            container = document.querySelector('.container');
            container.classList.toggle('active');
            section.classList.toggle('active');
        }
    </script>
</body>

</html>