<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>PetLovers</title>
</head>
<body id='body'>
    <nav id='nav-mobile'>
        <div class='nav-top mobile'>
            <figure class='menu-button'><img id='menu-button' src="/img/icon_menu_mobile_lateral.svg" alt=""></figure>
            <h1 >Iniciar sesion / Registrarse</h1>
            <figure id='carrito-button'><img src="/img/icon_carrito.svg" alt=""></figure>
        </div>
        <div class='nav-down'>
            <figure class='logo-desktop desktop'><img src="/img/logo.jpg" alt=""></figure>
            
            <input type="text">

            <h1 class='desktop'>Iniciar sesion / Registrarse</h1>
            <figure class='desktop' id='carrito-button'><img src="/img/icon_carrito.svg" alt=""></figure>
        </div>
        <div class="nav-desktop desktop">
            <div class='menu-row' id='menu-dogs-desktop'><span>Perros</span></div>
            <div class='menu-row' id='menu-cats-desktop'><span>Gatos</span></div>
        </div>
    </nav>

    <section id='menu-mobile'>
        <div id='menu-container' class='slide-right'>
            <div class='logo-close-menu'><figure><img src="/img/logo.svg" alt=""></figure><a id='sidebar-close' href="">X</a></div>
            <div class='menu-row' id='menu-inicio'><figure><img src="/img/menu-icon-inicio.svg" alt=""></figure><span>Inicio</span></div>
            <div class='menu-row' id='menu-ingresar-registrarse'><figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Ingresar / Registrarse</span></div>
            <div class='menu-title'>Productos</div>
            <div class='menu-row' id='menu-dogs'><figure><img src="/img/menu-icon-perro.svg" alt=""></figure><span>Perros</span></div>
            <div class='menu-row' id='menu-cats'><figure><img src="/img/menu-icon-gato.svg" alt=""></figure><span>Gatos</span></div>
            <div class='menu-title'>Contacto</div>
            <div class='menu-row' id='menu-call'><figure><img src="/img/menu-icon-telefono.svg" alt=""></figure><span>Llamanos</span></div>
            <div class='menu-row' id='menu-chat'><figure><img src="/img/menu-icon-chat.svg" alt=""></figure><span>Chatea con nosotros</span></div>
        </div>
        <div class='menu-relleno'>
        </div>
    </section>


    <section id='all'>
        <section id='phone-carrousel'>
            <figure>
                <img class='carrousel-image-container' src="/img/banner-carrousel-mobile.jpg" alt="">
            </figure>
        </section>

        <section id='pet-categories'>
            <span>¿Que mascota tienes?</span>
            <div class='categories'>
                <div class='pin-cat'></div>
                <div class='pin-dog'></div>
            </div>
        </section>
    
        <section id='promotions' class='box-cards'>
            <div class='promotions-title box-title'>
                <span>Promociones!</span>
            </div>
            <div class='cards-promotions box-card-section'>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
            </div>
        </section>

        <section id='best-sell' class='box-cards'>
            <div class='best-sell-title box-title'>
                <span>Mas vendidos!</span>
            </div>
            <div class='cards-best-sell box-card-section'>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
            </div>
        </section>
    
    </section>

    <footer>
        <div class="sector">
            <div class="sector-title">Nosotros</div>
            <div class="sector-info">Preguntas frecuentes</div>
            <div class="sector-info">Contactanos</div>
        </div>
        <div class="sector">
            <div class="sector-title">Pago y Envío</div>
            <div class="sector-info">Área de entrega</div>
            <div class="sector-info">Medios de pago</div>
        </div>
        <div class="sector">
            <div class="sector-title">Legales</div>
            <div class="sector-info">Terminos y condiciones</div>
            <div class="sector-info">Politica de Privacidad</div>
        </div>
    </footer>
    
    
</body>
<script src="/js/home.js"></script>
</html>

