<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mobile-home.css">
    <title>PetLovers</title>
</head>
<body>
    <nav id='nav-mobile'>
        <div class='nav-top'>
            <figure class='logo-desktop desktop'><img src="/img/logo.jpg" alt=""></figure>
            <figure id='menu-button' class='mobile'><img src="/img/icon_menu_mobile_lateral.svg" alt=""></figure>
            <h1  class='mobile'>Iniciar sesion / Registrarse</h1>
            <figure id='carrito-button' class='mobile'><img src="/img/icon_carrito.svg" alt=""></figure>
        </div>
        <div class='nav-down'>
            <input type="text">
            <figure>
                <img src="/img/search.png" alt="">
            </figure>
        </div>
    </nav>


    <section id='all'>
        <section id='phone-carrousel'>
            <div>
                <figure></figure>
            </div>
            <figure>
                <img class='carrousel-image-container' src="/img/banner-carrousel-mobile.jpg" alt="">
            </figure>
        </section>

        <section id='pet-categories'>
            <span>¿Que mascota tienes?</span>
            <div class='categories'>
                <div class='pin-cat'></div>
                <div class='pin-dog'></div>
            </div>
        </section>
    
        <section id='promotions' class='box-cards'>
            <div class='promotions-title box-title'>
                <span>Promociones!</span>
            </div>
            <div class='cards-promotions box-card-section'>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
            </div>
        </section>

        <section id='best-sell' class='box-cards'>
            <div class='best-sell-title box-title'>
                <span>Mas vendidos!</span>
            </div>
            <div class='cards-best-sell box-card-section'>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
            </div>
        </section>
    
    </section>

    <footer>
        <div class="sector">
            <div class="sector-title">Nosotros</div>
            <div class="sector-info">Preguntas frecuentes</div>
            <div class="sector-info">Contactanos</div>
        </div>
        <div class="sector">
            <div class="sector-title">Pago y Envío</div>
            <div class="sector-info">Área de entrega</div>
            <div class="sector-info">Medios de pago</div>
        </div>
        <div class="sector">
            <div class="sector-title">Legales</div>
            <div class="sector-info">Terminos y condiciones</div>
            <div class="sector-info">Politica de Privacidad</div>
        </div>
    </footer>
    
    
</body>
</html>

