<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/mobile-home.css">
</head>

<body>
    <nav>
        <div class='nav-top'>
            <div>menu</div>
            <div>iniciar sesion</div>
            <div>carrito</div>
        </div>
        <div class='nav-down'>
            busqueda
        </div>
    </nav>

    <section class='carrusel'>
        <figure>
            <img src="img/banner-carrousel-mobile.jpg" alt="">
        </figure>
    </section>

    <section class='categories-container'>
        <span class='categories-title'>CATEGORIAS</span>
        <div class='categories'>
            <div class='categori'>01</div>
            <div class='categori'>02</div>
            <div class='categori'>03</div>
            <div class='categori'>04</div>
        </div>
    </section>

    <section class='promotions section-card-container'>
        <h3>Promociones</h3>
        <div class='promotion-items section-items'>
            <div class="promotion-card section-card"></div>
            <div class="promotion-card section-card"></div>
            <div class="promotion-card section-card"></div>
        </div>
    </section>

    <section class='best-sell section-card-container'>
        <h3>Mas Vendidos!</h3>
        <div class='best-items section-items'>
            <div class="best-card section-card"></div>
            <div class="best-card section-card"></div>
            <div class="best-card section-card"></div>
        </div>
    </section>

</body>

</html>