@media (min-width: 600px){
    .form-container {
        width: 60%;
    }
}
@media (max-width: 478px){
    .form-container {
        width: 330px;
    }
    body{
        background-color: rgb(177, 176, 176);
    }
}

/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

/* form */
#formLogin {
    display: flex;
}

#formRegister {
    display: none;
}

form {
    width: 100%;
    height: 100%;
    padding: 15px 25px; 
    display:flex;
    flex-direction: column;
    justify-content: center;          
}

.form-container {
    width: 340px;
    height: 100%;
    background: url("https://i.pinimg.com/originals/70/98/9e/70989ecb0258f566b9af13e876cf7dce.gif") center center no-repeat;
    border: solid 1px rgba(134, 133, 133, 0.747);
    background-size: cover;
    border-radius: 10px;
    margin: 30px auto;
}

.form-container h2{
    text-align: center;
    color:black;
    margin: 20px 0;
    font-weight: normal;
    font-size: 18px;
}


.optionsContainer {
    display: flex;
    justify-content: space-evenly;
}

.form-container {
}

.input-container .input-style{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
}


.check {
    padding-top: 20px;
}

 span.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:red;
    font-weight: normal;
    font-size: 16px;
}
.check span.error-message {
    padding-left: 0;
    text-align: center;
    color:red;
    font-weight: normal;
    font-size: 16px;
}
.button-container {
    margin-top: 40px;
}

.button-container button.btn-submit {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(27, 27, 27, 0.562);
    padding: 0 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.616);
    color: #444;
    font-size: 15px;
    font-weight: bold;
}