.container-img-mensaje {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mensaje {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.inicioF{
    text-decoration: none;
}