@charset "UTF-8";

@import url('carrito.css');
@import url('wsp-chat.css');
@import url('menu-mobile.css');
@import url('footer.css');
@import url('header-nav.css');


/* PALETA DE COLORES */
/*  END PALETA DE COLORES */
/* FUENTE */
/* TAMAÑOS PHONE */
/* DISPLAYS DESKTOP */


/* TAMAÑOS DESKTOP */
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
}

span {
  cursor: default;
}



#all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* CARROUSEL */
#carousel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__viewport {
  margin: 0;
  padding: 0;
}

.carousel__viewport li {
  list-style: none;
}

.carousel__viewport li img {
  width: 100%;
}

/*    CATEGORIES    */
#pet-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  background-color: #fafafa;
}

#pet-categories > span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: system-ui;
  color: #4b4b4b;
  font-weight: bold;
  margin-top: 15px;
}

.categories {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.categories div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 60px;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

/*
.pin-cat {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-image: url("../img/pin-cat.png");
}

.pin-dog {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-image: url("../img/pin-dog.png");
}
*/
/*    END CATEGORIES    */
/*    BOX PROMOTIONS  /  BEST-SELL  */
.box-cards {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  color: #4b4b4b;
  font-weight: bold;
  font-family: system-ui;
}

.box-card-section {
  width: 95%;
  max-width: 65rem;
  margin-top: 10px;
  margin-bottom: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 9.375rem;
  height: 14.375rem;
  border-radius: 5px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Oswald", sans-serif;
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: #ffffff;
  -webkit-box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
          box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  -webkit-transition: 1s;
  transition: 1s;
  display: flex;
  flex-direction: column;
}

.box-card > div {
  width: 100%;
  height: 100%;
}

.box-card-top {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

.box-card-top div {
  margin: 3px 0 3px 0px;
  font-family: system-ui;
}

.box-card-top .card-item-image {
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

/* figure {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

img{
  height: 100%;
} */


.card-item-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  transition: 1s;
  color: #4b4b4b;
}

.product-name {
  cursor: pointer;
}

.card-item-name:hover {
  color:#33c1d4;
  transform: scale(1.1);
}


.card-item-description {
  width: 100%;
  font-size: 10px;
}

.card-item-price {
  font-size: 12px;
  color: #34c5d8;
  font-weight: bold;
}

.card-item-valoration {
  font-size: 10px;
}

.box-card-bottom {
  width: 100%;
  height: 15%;
  background-color: #34c5d8;
  box-shadow: inset 0 0rem 1rem 0.05rem #00000070;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  border-radius: 0px 0px 5px 5px;
  transition: 1s;
}

.box-card-bottom:hover {
  background-color: #34d87a;
}

.card-item-image figure {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card-item-image img{
  height: 100%;
}

/*    END PROMOTIONS    */


/* ANIMATION DOG-CAT */
.pin-cat {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Oswald", sans-serif;
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: 6.375rem;
  height: 6.375rem;
  background: #f1f1f1;
  border-radius: 100%;
  -webkit-box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
          box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  overflow: hidden;
  position: relative;
  color: #0e76a8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pin-cat:hover, .pin-dog:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 0.5375rem 0.2125rem #72cabe;
          box-shadow: 0 0 0.5375rem 0.2125rem #72cabe;
}

.pin-cat img {
  width: 80%;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  color: #0e76a8;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Brands";
  line-height: 4.375rem;
  font-size: 1.4375rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.pin-dog {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Oswald", sans-serif;
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: 6.375rem;
  height: 6.375rem;
  background: #f1f1f1;
  border-radius: 100%;
  -webkit-box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
          box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  overflow: hidden;
  position: relative;
  color: #0e76a8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pin-dog img {
  width: 80%;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  color: #0e76a8;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Brands";
  line-height: 4.375rem;
  font-size: 1.4375rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}



/* END ANIMATION DOG-CAT */
.logo-desktop figure {
  margin: 0;
  padding: 0;
}

.logo-desktop figure img {
  width: 40px;
}



@media (min-width: 768px) {
  #body .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #carousel {
    margin-top: 20px;
  }
  
  .box-card {
    width: 10.375rem;
    height: 14.375rem;
  }
  #pet-categories > span {
    font-size: 30px;
  }
  .categories div {
    width: 115px;
    height: 115px;
  }
  .box-title {
    font-size: 30px;
  }
  .pin-cat, .pin-dog {
    width: 8.375rem;
    height: 8.375rem;
  }
}
/*# sourceMappingURL=home.css.map */