@charset "UTF-8";
/* PALETA DE COLORES */
/*  END PALETA DE COLORES */
/* FUENTE */
/* TAMAÑOS PHONE */
/* DISPLAYS DESKTOP */
#body .desktop {
  display: none;
}

/* TAMAÑOS DESKTOP */
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
}

/* NAV MOBILE */
nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #72cabe;
}

.nav-top {
  width: 100%;
  min-height: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top .menu-button {
  width: 30%;
  margin: 0;
  padding: 0;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top-input-container {
  width: 66.6666666%;
}

.nav-top h1 {
  font-size: 10px;
  font-family: system-ui;
  font-weight: bold;
  color: white;
}

.nav-top .carrito-button-container {
  height: 24px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav figure img {
  width: 24px;
}

.nav-top input {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
}

/* END NAV */
#all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* CARROUSEL */
#carousel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__viewport {
  margin: 0;
  padding: 0;
}

.carousel__viewport li {
  list-style: none;
}

.carousel__viewport li img {
  width: 100%;
}

/*    CATEGORIES    */
#pet-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  background-color: #fafafa;
}

#pet-categories > span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: system-ui;
  color: #4b4b4b;
  font-weight: bold;
  margin-top: 15px;
}

.categories {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.categories div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 60px;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

/*
.pin-cat {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-image: url("../img/pin-cat.png");
}

.pin-dog {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-image: url("../img/pin-dog.png");
}
*/
/*    END CATEGORIES    */
/*    BOX PROMOTIONS  /  BEST-SELL  */
.box-cards {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  color: #4b4b4b;
  font-weight: bold;
  font-family: system-ui;
}

.box-card-section {
  width: 95%;
  max-width: 65rem;
  margin-top: 10px;
  margin-bottom: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-card {
  /*width: 100px;
    height: 100px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #a1a1a1;
  width: 9.375rem;
  height: 12.375rem;
  border-radius: 5px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Oswald", sans-serif;
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: #f1f1f1;
  -webkit-box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
          box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  -webkit-transition: 1s;
  transition: 1s;
}

/*    END PROMOTIONS    */
/* FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  height: 230px;
  background-color: #A4A4A4;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.sector {
  width: 100%;
}

.sector-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.sector-info {
  color: #DDDDDD;
  font-size: 13px;
  font-weight: normal;
}

/* END FOOTER */
/* DESKTOP */
.nav-desktop {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-desktop > div {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.nav-desktop > div span {
  color: white;
  font-size: 18px;
}

.nav-down h1 {
  color: white;
  font-family: system-ui;
  font-size: 16px;
}

/* ANIMATION DOG-CAT */
.pin-cat {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Oswald", sans-serif;
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: 6.375rem;
  height: 6.375rem;
  background: #f1f1f1;
  border-radius: 100%;
  -webkit-box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
          box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  overflow: hidden;
  position: relative;
  color: #0e76a8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pin-cat:hover, .pin-dog:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 0.5375rem 0.2125rem #72cabe;
          box-shadow: 0 0 0.5375rem 0.2125rem #72cabe;
}

.pin-cat img {
  width: 80%;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  color: #0e76a8;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Brands";
  line-height: 4.375rem;
  font-size: 1.4375rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.pin-dog {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Oswald", sans-serif;
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: 6.375rem;
  height: 6.375rem;
  background: #f1f1f1;
  border-radius: 100%;
  -webkit-box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
          box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  overflow: hidden;
  position: relative;
  color: #0e76a8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pin-dog img {
  width: 80%;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  color: #0e76a8;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Brands";
  line-height: 4.375rem;
  font-size: 1.4375rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.figure-logo {
  background-color: white;
  border-radius: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* END ANIMATION DOG-CAT */
.logo-desktop figure {
  margin: 0;
  padding: 0;
}

.logo-desktop figure img {
  width: 40px;
}

.nav-top .desktop div span {
  color: white;
  font-weight: bold;
  font-family: system-ui;
}

@media (min-width: 768px) {
  #body .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #carousel {
    margin-top: 20px;
  }
  .nav-top .carrito-button-container {
    height: 35px;
  }
  .nav-top {
    min-height: 70px;
  }
  .nav-top-input-container {
    width: 57.666667%;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-down {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav-down input {
    width: 50%;
    height: 40px;
  }
  .box-card {
    width: 10.375rem;
    height: 14.375rem;
  }
  #pet-categories > span {
    font-size: 30px;
  }
  .categories div {
    width: 115px;
    height: 115px;
  }
  .box-title {
    font-size: 30px;
  }
  .pin-cat, .pin-dog {
    width: 8.375rem;
    height: 8.375rem;
  }
}
/*# sourceMappingURL=home.css.map */