@charset "UTF-8";
/* PALETA DE COLORES */
/*  END PALETA DE COLORES */
/* FUENTE */
/* TAMAÑOS PHONE */
/* DISPLAYS DESKTOP */
#body .desktop {
  display: none;
}

/* TAMAÑOS DESKTOP */
body {
  background-color: white;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
}

/* NAV MOBILE */
nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #72cabe;
}

.nav-top {
  width: 100%;
  height: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.nav-down {
  width: 100%;
  height: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.nav-top .menu-button {
  width: 30%;
  height: 34px;
  margin: 0;
  padding: 0;
}

.nav-top h1 {
  font-size: 10px;
  font-family: system-ui;
  font-weight: bold;
  color: white;
}

.nav-top #carrito-button {
  height: 34px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav figure img {
  width: 34px;
  height: 34px;
}

.nav-down input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.nav-down figure {
  height: 34px;
  width: 34px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* END NAV */
#all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* MENU-MOBILE */
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

#menu-mobile {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#menu-container {
  display: none;
  width: 250px;
  height: 100%;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.logo-close-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 55px;
  background-color: #72cabe;
}

.logo-close-menu figure {
  margin: 0;
  padding: 0;
}

.logo-close-menu figure img {
  margin: 0;
  padding: 0;
}

.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  background-color: #f4f4f4;
  color: #444444;
  font-weight: bold;
  font-family: system-ui;
  font-size: 15px;
}

.menu-row {
  width: 100%;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px #f4f4f4 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-row figure {
  margin: 0 10px 0 10px;
  padding: 0;
  width: 19px;
  height: 19px;
}

.menu-row figure img {
  margin: 0;
  padding: 0;
  width: 19px;
  height: 19px;
}

.menu-row span {
  color: #4b4b4b;
  font-family: system-ui;
}

/* END MENU-MOBILE */
/* CARROUSEL */
#carrousel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*    CATEGORIES    */
#pet-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 360px;
  background-color: white;
}

#pet-categories > span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: system-ui;
  color: #4b4b4b;
  font-weight: bold;
  margin-top: 15px;
}

.categories {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.categories div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 60px;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.pin-cat {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../img/pin-cat.png");
}

.pin-dog {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../img/pin-dog.png");
}

/*    END CATEGORIES    */
/*    BOX PROMOTIONS  /  BEST-SELL  */
.box-cards {
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.box-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  color: #4b4b4b;
  font-weight: bold;
  font-family: system-ui;
}

.box-card-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-card {
  background-color: #a1a1a1;
  width: 100px;
  height: 150px;
  border-radius: 5px;
}

/*    END PROMOTIONS    */
/* FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 360px;
  height: 230px;
  background-color: #A4A4A4;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.sector {
  width: 100%;
}

.sector-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.sector-info {
  color: #DDDDDD;
  font-size: 13px;
  font-weight: normal;
}

/* END FOOTER */
/* DESKTOP */
.nav-desktop {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-desktop > div {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.nav-desktop > div span {
  color: white;
  font-size: 18px;
}

.nav-down h1 {
  color: white;
  font-family: system-ui;
  font-size: 16px;
}

@media (min-width: 650px) {
  #body .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile {
    display: none;
  }
  .nav-top #carrito-button {
    display: none;
  }
  .nav-down {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav-down input {
    width: 50%;
    height: 40px;
  }
  .box-card {
    width: 180px;
    height: 230px;
  }
  #pet-categories > span {
    font-size: 30px;
  }
  .categories div {
    width: 115px;
    height: 115px;
  }
  .box-title {
    font-size: 30px;
  }
}
/*# sourceMappingURL=home.css.map */