/*PALETA DE COLORES*/
/* FUENTE */
body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px black solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  background-color: #72cabe;
}

.nav-top {
  width: 100%;
  height: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-down {
  width: 100%;
  height: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top #menu-button {
  width: 30%;
  height: 34px;
  margin: 0;
  padding: 0;
}

.nav-top h1 {
  font-size: 10px;
  font-family: system-ui;
  font-weight: bold;
  color: white;
}

.nav-top #carrito-button {
  height: 34px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav figure img {
  width: 34px;
  height: 34px;
}

.nav-down input {
  width: 75%;
  height: 20px;
  border-radius: 5px;
  border: none;
}

.nav-down figure {
  height: 34px;
  width: 34px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-down figure img {
  width: 22px;
  height: 22px;
}

/*  COLORES  */
/*  FUENTE  */
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 360px;
}

/*    CARROUSEL     */
#phone-carrousel figure {
  margin: 0;
  padding: 0;
  min-width: 360px;
  height: 180px;
}

.carrousel-image-container {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../img/banner-carrousel-mobile.jpg");
}

/*    END CARROUSEL    */
/*    CATEGORIES    */
#pet-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 360px;
  background-color: #72cabe;
}

#pet-categories > span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: system-ui;
  color: #4b4b4b;
  font-weight: bold;
  margin-top: 15px;
}

.categories {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.categories div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 60px;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.pin-cat {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../img/pin-cat.png");
}

.pin-dog {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../img/pin-dog.png");
}

/*    END CATEGORIES    */
/*    BOX PROMOTIONS  /  BEST-SELL  */
.box-cards {
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #8cdfdc;
}

.box-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  color: #4b4b4b;
  font-weight: bold;
  font-family: system-ui;
}

.box-card-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-card {
  background-color: #a1a1a1;
  width: 100px;
  height: 150px;
  border-radius: 5px;
}

/*    END PROMOTIONS    */
/* FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 360px;
  height: 230px;
  background-color: #A4A4A4;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.sector {
  width: 100%;
}

.sector-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.sector-info {
  color: #DDDDDD;
  font-size: 13px;
  font-weight: normal;
}

/* END FOOTER */
/*# sourceMappingURL=mobile-home.css.map */