<section id='carrito' class=''>
    <div>
        <div class='carrito-container'>
            <div class='carrito-head'>
                <span>Lista de compras</span><figure><img id='carrito-close' src="/img/close.svg" alt=""></figure>
            </div>
            <div class='carrito-body'>
                <div class='carrito-item'>
                    <div>
                        <div class='item-image-container'>
                            <figure class='item-figure'><img src="/img/item-test.png" alt=""></figure>
                        </div>
                        <div class='item-description-container'>
                            <div class="item-title">Alimento marca X</div>
                            <div class="item-description">Alimento para perro :v</div>
                        </div>
                        <div class='price-amount'>
                            <span>$20,99</span>
                            <div class='amount-controls'>
                                <div class='amount-put'>-</div>
                                <input class='amount' name="amount"
oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
type = "number"
maxlength = "3"
/>
                                <div class='amount-add'>+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='carrito-footer'>
                <div class='carrito-footer-section'>
                    <span class='subtotal'>Subtotal: <span>$0</span></span>
                    <div>
                        <a href="#">Realizar compra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>