<header>
    <nav id='nav-carrito'>
        <div class='menu-container'>
            <a href="/">
                <figure class='menu-button'><img id='menu-button' src="/img/menu_lateral.svg" alt=""></figure>
            </a>
        </div>
        <div class='seguir-comprando'>
            <div><span id='seguir-comprando'> < Seguir Comprando</span></div>
        </div>
        <div  class='logo'>
            <figure class="figure-logo">
                <img src="/img/logo.svg" alt="">
            </figure>
        </div>
        <div class='search-carrito'>
            <div>
                <figure class="figure-search">
                    <img src="/img/search.png" alt="">
                </figure>
            </div>
            <div class='carrito-burble'>
                <figure class='carrito-button-container'>
                    <img id='carrito-button' src="/img/icon_carrito.svg" alt="">
                </figure>
                <span id='amount-carrito'>1</span>
            </div>
        </div>
        <div class='profile-button'>
            <figure class='button-container'><img id='menu-button-desktop' src="/img/menu-icon-login-white.svg" alt=""></figure>
        </div>
    </nav>
</header>