<section id='menu-mobile'>
    <div id='menu-container' class=''>
        <div class='logo-close-menu'>
            <figure class="figure-logo">
                <img src="/img/logo.svg" alt="">
            </figure>
            <a id='sidebar-close' href="">X</a>
        </div>
        <div class='menu-row' id='menu-inicio'>
            <figure><img src="/img/menu-icon-inicio.svg" alt=""></figure><span>Inicio</span>
        </div>
        <div class='menu-row' id='mis-pedidos'>
            <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Mis pedidos</span>
        </div>
        <div class='menu-row' id='mis-productos'>
            <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Mis productos</span>
        </div>
        <div class='menu-row' id='cambiar-clave'>
            <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Cambiar contraseña</span>
        </div>
        <div class='menu-row' id='cerrar-sesion'>
            <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Cerrar sesión</span>
        </div>
        <div class='menu-title'>Productos</div>
        <div class='menu-row' id='menu-dogs'>
            <figure><img src="/img/menu-icon-perro.svg" alt=""></figure><span>Perros</span>
        </div>
        <div class='menu-row' id='menu-cats'>
            <figure><img src="/img/menu-icon-gato.svg" alt=""></figure><span>Gatos</span>
        </div>
        <div class='menu-title'>Contacto</div>
        <div class='menu-row' id='menu-call'>
            <figure><img src="/img/menu-icon-telefono.svg" alt=""></figure><span>Llamanos</span>
        </div>
        <div class='menu-row' id='menu-chat'>
            <figure><img src="/img/menu-icon-chat.svg" alt=""></figure><span>Chatea con nosotros</span>
        </div>
    </div>
</section>
<script src="/js/menu-mobile.js"></script>