<section id='wsp-chat'>
    <figure>
        <a href="https://wa.me/+541134489022?text=Hola%20que%20servicios%20brindan%3F"><img src="/img/wsp.png" alt=""></a>
    </figure>
    <figure>
        <img src="/img/dog-chat.svg" alt="">
    </figure>
</section>