<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index/error.css">
    <title>Error</title>
</head>

<body id="body">
    <%- include('../partial/header-invited'); %>

    <div class="container-img-mensaje">
        <div class="box-img">
            <img src="/img/gato-error.png" alt="">
        </div>
        <div class="mensaje">
            <h1>¡Ops! Ocurrió algo inesperado</h1>
            <h4>Esta pagina no existe</h4>
            
        </div>
    </div>

    <%- include('../partial/footer'); %>

</body>

</html>