@charset "UTF-8";
@import url('../partials/wsp-chat.css');
@import url('../partials/menu-mobile.css');
@import url('../partials/carrito.css');
@import url('../partials/footer.css');
@import url('../partials/background.css');






.userProfile {
    margin: 0 auto;
    max-width: 900px;
    padding: 32px 8px;
    display: flex;
    flex-direction: row;
}

@media(max-width: 900px){
    .userProfile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.userProfile .avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgb(41, 180, 204);
    margin: 0 3em;
}

.userProfile .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.userInfo{
    display: flex;
    padding: 0.5em;
    border: black 0.1em solid;
    border-radius: 0.8em;
    background-color: #ad76efde;
    flex-direction: column;
    align-items: center;
}

@media (mix-width: 1200px){
    .userInfo{width: 20vw;}
}
@media (min-width: 600px){
    .userInfo{
        display: flex;
        width: 38em;
        padding: 0.5em;
        border: black 0.1em solid;
        border-radius: 0.8em;
        background-color: #ad76efde;
        flex-direction: column;
    }
    .userProfileContainer{
        display: flex;
    }
    .boxUserProfile{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .userProfileBox{
        margin-left: 1em;
    }
    /* .btnProfile {
        width: 20%;
    } */
}

@media (min-width: 900px){
    .boxUserProfile{
        display: flex;
        flex-direction: column;
    }
}




.userProfileItem{
    font-weight: bold;
}
.userProfileTitle{
    font-size: 1.4em;
    font-weight: bolder;
}

.btnProfile {
    border: black 0.1em solid;
    width: 8em;
    border-radius: 0.8em;
    padding: 0 0.5em;
    box-shadow: -0.7px 1.7px 4px #08010e;
    font-weight: bold;
}

/* favoritos */

.favoriteProfile{
    background-color: blueviolet;
    margin: 2em 0 0 0;
    width: 100vw;
    height: 13em;
}
@media (min-width: 900px){
    .favoriteProfile{
        margin: 2em 0 0 1em;
        width: 38em;
    }
}
.boxExtra{
    display: flex;
    flex-direction: column;
}