<footer>
    <div class="sector">
        <div class="sector-title"><span>Nosotros</span></div>
        <div class="sector-info"><span>Preguntas frecuentes</span></div>
        <div class="sector-info"><span>Contactanos</span></div>
    </div>
    <div class="sector">
        <div class="sector-title"><span>Pago y Envío</span></div>
        <div class="sector-info"><span>Área de entrega</span></div>
        <div class="sector-info"><span>Medios de pago</span></div>
    </div>
    <div class="sector">
        <div class="sector-title"><span>Legales</span></div>
        <div class="sector-info"><span>Terminos y condiciones</span></div>
        <div class="sector-info"><span>Politica de Privacidad</span></div>
    </div>
</footer>