<footer class="footer-style">
    <div class="contenedorFooter">
        <div class="infoFooter">
            <div class="sectorFooter">
                <div class="footer-sector">
                    <div class="sector-title"><span class="spanFooter">Sobre Nosotros</span></div>
                    <div class="sector-info">
                        <span class="spanFooter">
                            Somos una tienda especializada en productos para nuestros amigos peludos, trabajamos con las mejores marcas y traemos productos de calidad a tu hogar.
                        </span>
                    </div>
                </div>

                <div class="footer-sector">
                    <div class="sector-title"><span class="spanFooter">Metodos de pago</span></div>
                    <img class="methodPay" src="/img/metodosDePago/mastercard.png" alt="Mastercard">
                    <img class="methodPay" src="/img/metodosDePago/visa.png" alt="Visa">
                    <img class="methodPay" src="/img/metodosDePago/rapiPago.jpg" alt="RapiPago">
                    <img class="methodPay" src="/img/metodosDePago/pagoFacil.svg" alt="PagoFacil">
                </div>
                
            </div>
        
            <div class="socialFooter">
                <img class="logoFooter" src="/img/footerImg/logoPet.png" alt="">
                <div class="sector-title">Redes</div>
                <div class="redesS">
                    <a href="https://www.facebook.com/PetLuv-103689912162033"><img class="socialM" src="/img/redesSociales/facebook.png" alt="PetLuv"></a>
                    <a href="https://www.instagram.com/petluvx/?hl=es"><img class="socialM" src="/img/redesSociales/instagram.png" alt="PetLuv"></a>
                </div>
                
            </div>
        </div>
        
        
        
        <div class="footer_bg">
            <div class="footer_bg_one">
                <img class="footerImage" src="/img/footerimg/lets-go-outside-walking.gif">
            </div>
        </div>
    </div>
</footer>