<footer class="footer-style">
    <div class="contenedorFooter">
        <div class="sectorFooter">
            <div class="footer-sector">
            <div class="sector-title"><span class="spanFooter">Nosotros</span></div>
            <div class="sector-info"><span class="spanFooter">Preguntas frecuentes</span></div>
            <div class="sector-info"><span class="spanFooter">Contactanos</span></div>
        </div>
        <div class="footer-sector">
            <div class="sector-title"><span class="spanFooter">Pago y Envío</span></div>
            <div class="sector-info"><span class="spanFooter">Área de entrega</span></div>
            <div class="sector-info"><span class="spanFooter">Medios de pago</span></div>
        </div>
        <div class="footer-sector">
            <div class="sector-title"><span class="spanFooter">Legales</span></div>
            <div class="sector-info"><span class="spanFooter">Terminos y condiciones</span></div>
            <div class="sector-info"><span class="spanFooter">Politica de Privacidad</span></div>
        </div>
        </div>
        

        <div class="footer_bg">
            <div class="footer_bg_one">
                <img class="footerImage" src="/img/footerimg/lets-go-outside-walking.gif">
            </div>
        </div>
    </div>
</footer>