<header id='header-invited'>
    <nav id='nav-mobile'>
        <div class='nav-top'>
            <div class='mobile menu-container'>
                <figure class='menu-button'><img id='menu-button' src="/img/icon_menu_mobile_lateral.svg" alt=""></figure>
            </div>
            <div  class='logo-desktop desktop'>
                <a href="/">
                    <figure class="figure-logo">
                        <img src="/img/logo.svg" alt="">
                    </figure>
                </a>
            </div>
            <div class='nav-top-input-container'>
                <input id='busqueda' placeholder='Buscar algo...' type="text">
            </div>
            <div class='desktop'>
                <div>
                    <a href="/ps/login" class="ingrese"><span>Ingresar / Registrarse</span></a>
                    
                </div>
            </div>
            <div>
                <a href="ps/cart"><figure class='carrito-button-container'><img id='carrito-button' src="/img/icon_carrito.svg" alt=""></figure></a>
            </div>
        </div>
    </nav>
</header>