<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<%- include('./menuLateral'); %>
    <link rel="stylesheet" href="/css/partials/headerNav.css">
    <div class='navPlaceTop'></div>
    <header id='header-invited'>
        <nav id='nav-mobile'>
            <div class='nav-top'>
                <div class='mobile menu-container'>
                    <figure class='menu-button'><img id='menu-button' src="/img/icon_menu_mobile_lateral.svg" alt="">
                    </figure>
                </div>
                <div class='logo-desktop desktop'>
                    <a href="/">
                        <figure class="figure-logo">
                            <img src="/img/logo.svg" alt="">
                        </figure>
                    </a>
                </div>
                <div class='nav-top-input-container'>
                    <input id='busqueda' placeholder='Buscar algo...' type="text">
                </div>

                <div class='desktop'>
                    <!-- start nav -->
                    <nav id="menu-nav">
                        <div class="avatarHeader">
                            <% if (data.session.user) { %>
                                <% if (data.session.user.role == 0) { %>
                                    <img class="avatarHeaderImage" src="/img/avatars/admin.svg">
                                    <% }else if (data.session.user.role == 1){ %>
                                        <img class="avatarHeaderImage" src="/img/avatars/<%= data.session.user.avatar.path %>">
                                        <% } %>
                                            <% }else{ %>
                                                <i class="fas fa-user-circle fa-2x" aria-hidden="true"></i>
                                                <% } %>

                        </div>
                        <!-- start menu -->
                        <div class="nav-desplegable">

                            <% if (data.session.user) { %>
                                <% if (data.session.user.role == 1) { %>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <%- data.session.user.name %>
                                            </a>
                                            <ul>
                                                <li class="li-menu"><a href="/ps/profile">Mi perfil</a></li>
                                                <li class="li-menu"><a href="/ps/logout">Cerrar sesión</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                    <% } else if (data.session.user.role == 0) { %>
                                        <ul>
                                            <li>
                                                <a href="#">
                  Admin
                </a>
                                                <ul>
                                                    <li class="li-menu"><a href="/ps/logout">Cerrar sesión</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <% } %>
                                            <% } else { %>
                                                <ul>
                                                    <li><a href="#">Cuenta</a>
                                                        <ul>
                                                            <li class="li-menu"><a href="/ps/login">Iniciar sesion</a></li>
                                                            <li class="li-menu"><a href="/ps/register">Registrarse</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <% } %>

                        </div>

                        <!-- end menu -->
                    </nav>
                    <!-- end nav -->
                </div>



                <div>
                    <figure class='carrito-button-container'><img id='carrito-button' src="/img/icon_carrito.svg" alt=""></figure>
                </div>
            </div>
        </nav>
    </header>
    <script>
        //Al presionar enter en el input realiza la busqueda
        document.getElementById('busqueda').addEventListener('keypress', (event) => {
            if (event.key == 'Enter' || event.keyCode == 13) {
                keyToSearch = document.getElementById('busqueda').value //aca obtenemos el texto escrito en el input
                window.location.href = `${window.location.origin}/search/${keyToSearch}` //redireccionamos a la api de busqueda
            }
        })
    </script>