<div class='menu-title'>
    Productos</div>

<a href="/admin/products/create">
    <div class='menu-row'>
        <figure><img src="/files/productUpload.svg" alt=""></figure><span>Cargar</span>
    </div>
</a>

<a href="/admin/products/list">
    <div class='menu-row'>
        <figure><img src="/files/editProduct.svg" alt=""></figure><span>Listar</span>
    </div>
</a>

<div class='menu-title'>Promociones</div>

<a href="/admin/products/promotion/add">
    <div class='menu-row'>
        <figure><img src="/files/productUpload.svg" alt=""></figure><span>Agregar Promocion</span>
    </div>
</a>

<a href="/admin/products/promotion/delete">
    <div class='menu-row'>
        <figure><img src="/files/editProduct.svg" alt=""></figure><span>Eliminar Promocion</span>
    </div>
</a>

<!-- <a href="/admin/products/edit">
            <div class='menu-row'>
                <figure><img src="/files/editProduct.svg" alt=""></figure><span>Modificar</span>
            </div>
        </a> -->

<!-- <a href="/admin/products/detail">
            <div class='menu-row'>
                <figure><img src="/files/barcodeDetail.svg" alt=""></figure><span>Detallar</span>
            </div>
        </a> -->

<!-- <div class='menu-title'>Mas opciones</div>

<a href="/admin/statistics">
    <div class='menu-row'>
        <figure><img src="/files/moneyStatistics.svg" alt=""></figure><span>Estadisticas</span>
    </div>
</a> -->

<!-- <a href="/admin/transactions">
            <div class='menu-row'>
                <figure><img src="/files/transaction.svg" alt=""></figure><span>Transacciones</span>
            </div>
        </a> -->

<!-- <a href="/admin/moreOptions/otherOptions">
            <div class='menu-row'>
                <figure><img src="/files/gear.svg" alt=""></figure><span>Opciones Avanzadas</span>
            </div>
        </a> -->