

<div class='menu-title'>Productos</div>

<a href="/search/?pet=dog&category=all">
    <div class='menu-row' id='menu-dogs'>
        <figure><img src="/img/menu-icon-perro.svg" alt=""></figure><span>Perros</span>
    </div>
</a>

<a href="/search/?pet=cat&category=all">
    <div class='menu-row' id='menu-cats'>
        <figure><img src="/img/menu-icon-gato.svg" alt=""></figure><span>Gatos</span>
    </div>
</a>

<div class='menu-title'>Menu</div>

<a href="/">
    <div class='menu-row' id='menu-inicio'>
        <figure><img src="/img/menu-icon-inicio.svg" alt=""></figure><span>Inicio</span>
    </div>
</a>

<a href="/ps/profile">
    <div class='menu-row' id='menu-ingresar-registrarse'>
        <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Perfil</span>
    </div>
</a>


<a href="/ps/logout">
    <div class='menu-row' id='menu-dogs'>
        <figure><img src="/img/menu-icon-perro.svg" alt=""></figure><span>Salir</span>
    </div>
</a>
