
<a href="/">
    <div class='menu-row' id='menu-inicio'>
        <figure><img src="/img/menu-icon-inicio.svg" alt=""></figure><span>Inicio</span>
    </div>
</a>

<a href="/ps/profile">
    <div class='menu-row' id='menu-ingresar-registrarse'>
        <figure><img src="/img/menu-icon-login.svg" alt=""></figure><span>Perfil</span>
    </div>
</a>


<a href="/ps/logout">
    <div class='menu-row' id='menu-dogs'>
        <figure><img src="/img/menu-icon-perro.svg" alt=""></figure><span>Salir</span>
    </div>
</a>
