<section id='menu-mobile'>
    <div id='menu-container' class=''>
        <div class='logo-close-menu'>
            <figure class="figure-logo">
                <a href="/">
                    <img src="/img/logo.svg" alt="">
                </a>
            </figure>
            <span id='sidebar-close' href="">X</span>
        </div>

        <% if (data.session.user) { %>
            <%- include('./lateralLoged'); %>
        <% } else { %>
            <%- include('./lateralInvited'); %>
        <% } %>

    </div>
</section>
<script src="/js/menu-mobile.js"></script>