<div class="box-card">
    <div>
        <a href="product/idProducto">
            <div class='box-card-top'>
                <div class='card-item-image'>
                    <figure>
                        <img src="/img/productTest.jpg" alt="">
                    </figure>
                </div>
                <div class='card-item-name'>
                    <span class='product-name'>Produxto Equis</span>
                </div>
                <div class='card-item-description'>
                    <span>Aqui va la descripcion del producto que esta a la venta</span>
                </div>
                <div class='card-item-price'>
                    <span>$99.99</span>
                </div>
                <div class='card-item-valoration'>
                    XXXxx
                </div>
            </div>
            <div class='box-card-bottom'>
                <span>Al carrito</span>
            </div>
        </a>
    </div>
</div>