<main class="topStyle">
    <div class="topContainer">
        <div class="bgTop">
            <img class="topBg" src="/img/top/bg.jpg" alt="">
        </div>
        <div class="topBg">
            <!-- <div class="topBgOne">
                <img class="topImage" src="/img/top/gato.gif">
            </div> -->
            <div class="topBgTwo">
                <img class="topImage" src="/img/top/giphy.webp">
            </div>
        </div>
    </div>
</main>