<section id='chatContainer'>
    <div id='chatFloat'>
        <div>
            <div class='chatHead'>
                <div>
                    <span>SOPORTE</span> <span id='chatClose'>X</span>
                </div>
                <div class='caterinaProfile'>
                    <div class='profileImageCat'>
                        <figure><img src='img/caterina.svg' alt=''></figure>
                    </div>
                    <div class='infoNameCaterina'>
                        <div class='caterinaName'><span>CAT</span><span>erina</span></div>
                        <div><span>Animal CHAT</span></div>
                    </div>
                </div>
            </div>
            <div id='messagesCat' class='messagesBox'>

                <div class='messageCard messageR'>
                    <div>
                        <span>Hola, soy Caterina, en que puedo ayudarte?</span>
                    </div>
                </div>

                <div class='messageCard frecuent'>
                    <div>
                        <span>En que horario realizan envios?</span>
                    </div>
                    <div id='option01' class='coverOption'></div>
                </div>

                <div class='messageCard frecuent'>
                    <div>
                        <span>El envio es gratis?</span>
                    </div>
                    <div id='option02' class='coverOption'></div>
                </div>

                <div class='messageCard frecuent'>
                    <div>
                        <span>Que medios de pago aceptan?</span>
                    </div>
                    <div id='option03' class='coverOption'></div>
                </div>

                <div class='messageCard frecuent'>
                    <div>
                        <span>Puedo devolver un producto?</span>
                    </div>
                    <div id='option04' class='coverOption'></div>
                </div>

                <!-- <div class='messageCard messageR'>
                    <div>
                        <span>Entre las 14hs y las 18hs</span>
                    </div>
                </div>

                <div class='messageCard messageR'>
                    <div>
                        <span>A partir de los $500 el envio es gratis!</span>
                    </div>
                </div>

                <div class='messageCard messageR'>
                    <div>
                        <span>Aceptamos, VISA, MASTERCARD, AMEX y MercadoPago</span>
                    </div>
                </div>

                <div class='messageCard messageR'>
                    <div>
                        <span>Siempre y cuando no este dañado, ten en cuenta que deberas llevarlo personalmente a nuestro local con DNI y factura.</span>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</section>




<section id='wsp-chat'>
    <figure>
        <a href='https://wa.me/+541134489022?text=Hola%20que%20servicios%20brindan%3F'><img src='/img/wsp.png'
                alt=''></a>
    </figure>
    <figure>
        <img id='catChat' src='/img/catChat.svg' alt=''>
    </figure>
</section>
<script src='/js/partials/wsp-cat.js'></script>