<div class="box-card">
    <div>
        <div>
            <figure>
                <img src="" alt="">
            </figure>
        </div>
        <div>
            <span>Nombre</span>
        </div>
        <div>
            <span>Descripcion del producto</span>
        </div>
        <div>
            <span>Precio</span>
        </div>
        <div>
            valoracion
        </div>
    </div>
    <div>
        <span>Agregar al carrito</span>
    </div>
</div>