@import url('../partials/menu-mobile.css');
@import url('../partials/footer.css');
@import url('../partials/loading.css');
@import url('../partials/header-nav.css');
@import url('../partials/background.css');

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: system-ui;
    color: #4c4c4c;
}

#test {
    width: 100%;
    position: absolute;
    opacity: 0.3;
}

figure {
    margin:0;
    padding:0;
}

#adminPanel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    height: 100vh;
}

.panel-menu {
    display: flex;
}

#adminPanel .noDisplay {
    display: none;
}

.panel-gral {
    box-sizing: border-box;
    margin-top: 2%;
    width: 100%;
}


.panel-gral .board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.7vw;
    justify-content: space-around;
}

.board-box {
    width: 100%;
    height: 100%;
}


.board-box > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    height: unset;
}

.card-options {
    width: 75vw;
    height: 50vw;
    margin-top: 1vw;
    box-sizing: border-box;
    /* background-color: #72cabe; */
    border-radius: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.card-options .coverButton {
    all: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: unset;
}

.card-options > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4.7vw;
    background-color: #0e76a8;
    box-shadow: 0 7px 6px rgb(0 0 0);
    transition: all 1s ease;
    margin: 1vw;
    height: 90%;
}


.card-options figure {
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 0.5vw;
    border-radius: 81px;
    overflow: hidden;
    height: 70%;
    align-items: center;
}

.card-options figure img{
    height: 80%;
}

.card-options > div > div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 6vw;
    height: 10%;
}

.card-options > div > div:last-child {
    width: 70%;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 1vw;
    height: 18%;
    align-items: center;
    background-color: #6DACD6;
    border-radius: 17px;
    font-size: 5vw;
}


.section-activity {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.activity-top {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visit-today{
    height: 90%;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}


.visit-today > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.7vw;
    justify-content: flex-start;
    align-items: center;
    border: 0.22vw #0e76a8 solid;
    box-sizing: border-box;
    width: 80%;
}

.visit-today > div:first-child > div:first-child {
    width: 100%;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: system-ui;
    color: #4e4d4b;
    margin: 0vw 1vw 1vw 1vw;
}

.visit-today > div:first-child > div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
}

.visit-today > div:first-child > div:last-child div {
    width: 8vw;
    height: 8vw;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    color: #0e76a8;
}

div.activity-top > div.last-online-users > div {
    width: 80%;
    height: 100%;
    border-radius: 0.7vw;
    background-color: white;
    box-sizing: border-box;
    border:0.22vw #0e76a8 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: overlay;
}







.last-online-users{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-online-users div > div:first-child {
    font-size: 1.5vw;
    font-family: system-ui;
    font-weight: bold;
    display: flex;
    height: 2vw;
    justify-content: flex-start;
}

.online-container {
    width: 100%;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.7vw;
}

.activity-top .last-online-users .online-container > div {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.last-online-users .online-container .card-online {
    align-items:center;
    display: flex;
    background-color: gold;
    justify-content: flex-start;
    border-radius: 20px 10px 10px 20px;
    width: 89%;
    font-size: 1.5vw;
    font-family: system-ui;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.last-online-users .card-online >div:first-child {
    width: 2vw;
}

.card-online figure {
    margin: 0;
    padding: 0;
    height: 100%;
}

.card-online figure img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card-online > span {
    margin-left: 1vw;
    font-size: 1vw;
}

.final-card {
    width: 100%;
    margin-top: 1vw;
    box-sizing: border-box;
    border-radius: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.final-card > form, .final-card > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4.7vw;
    background-color: #0e76a8;
    box-shadow: 0 7px 6px rgb(0 0 0);
    transition: all 1s ease;
    margin: 1vw;
}

.final-card .coverButton {
    all: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: unset;
}

.finalCardTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    font-weight: bold;
    margin-top: 1vw;
}

.finalCardTitle span {
    color: white;
}

.formContainer{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6vw;
}

.inputsContainerBox {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputfield {
    width: 100%;
    margin-bottom: 4vw;
}

.inputfield > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputfield span {
    color: white;
    font-weight: bold;
    font-size: 5vw;

}

.inputfield input {
    border-radius: 1vw;
    outline: none;
    border: none;
    padding-left: 5px;
    width: 100%;
    background-color: #ffffffa6;
    font-size: 5vw;
    color: #4c4c4c;
    font-weight: bold;
    height: 8vw;
}

.buttonOptionProduct {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonOptionProduct button {
    height: 8vw;
    border-radius: 2vw;
    border: none;
    outline: none;
    font-weight: bold;
    color: #4a4a4a;
    background-color: #05B58D;
    box-shadow: 0 2px 3px 0px rgb(0 0 0);
}

.addProductImage {
    width: 90%;
    height: 50vw;
    display: flex;
    position: relative;
}

.addProductImage > div:first-child {
    width: 100%;
    height: 100%;
}

.addProductImage > div:first-child figure {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

.addProductImage > div:first-child figure img {
    height: 100%;
}

.addProductImage > div:last-child {
    width: 132px;
    height: 25px;
    position: absolute;
    bottom: 5vw;
    right: 0vw;
    overflow: hidden;
}

.globalBackButton {
    position: fixed;
    left: 2vw;
    top: 30vw;
    display: flex ;
}

.globalBackButton div img{
    display: none;
    width: 15vw;
}

.modifySearchBox {
    margin-top: 4vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.modifySearchBox > div {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
    height: 20vw;
    width: 65%;
}

.modifySearchBox > div span {
    color: white;
    font-size: 4vw;
}

.modifySearchBox input {
    border-radius: 2vw;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    color: #0e76a8;
    font-size: 4vw;
}


.resultCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-bottom: 3vw;
    background-color: #3ea2d2;
    border-radius: 2vw;
    position: relative;
    padding: 2vw;
}

.resultCard div:last-child.cardCoverCLick {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-left: unset;
}

.resultCard span {
    font-weight: bold;
    color: white;
    font-size: 4vw;
}

.resultCard div figure img {
    height: 100%;
}

.resultCard div figure {
    height: 12vw;
}

.resultCard > div:last-child {
    margin-left: 5vw;
}

.resultCard > div:last-child div span:last-child{
    font-weight: unset;
}


#modifySearchResult, #detailSearchResult {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.searchResultBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}


#addProductView {
    position: absolute;
    top: 10%;
    height: unset;
}