
@charset "UTF-8";

@import url('carrito.css');
@import url('wsp-chat.css');
@import url('menu-mobile.css');
@import url('footer.css');
@import url('background.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}





.formProductContainer{
    display: flex;
    justify-content: center;
}

.form-product{
    display: flex;
    margin-top: 30px;   
}

@media (max-width: 800px){
    .form-product {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
}


@media(max-width: 800px){
    .widthCon{
        width: 100vw;
    }
}


.containerAleta{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.aleta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #549cc5;
    height: 40px;
    width: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aleta.activo {
    background-color: #72ca92;
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.container-form{
    min-height: 10vh;
    position: relative;
}

.cajaform {
    display: flex;
    
}

/* Direccion de los forms*/
.carga-de-producto {
    display: flex;
    flex-direction: column;
}

.containerEditar{
    display: flex;
    flex-direction: column;
}

.containerEliminar{
    display: flex;
    flex-direction: column;
}

.containerConsultar{
    display: flex;
    flex-direction: column;
}
/* Fin Direccion de los forms*/
/* Form container*/

form.cajaform{
    padding: 0 10px;
    border-radius: 10px;
    background-color: #72cabe94;
    opacity: 0;
    position: absolute;
    top:0;
}

form.cajaform.activo{
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Fin de Form container*/
/* Letra e input */
label {
    font-weight: bold;
    
}

input{
    background-color: lightsteelblue;
    border: none;
    border-radius: 10px;
    margin: 10px;
    height: 30px;
}

textarea {
    background-color: lightsteelblue;
    border-radius: 10px;
}

/* Vista mayor a 800px*/


@media(min-width: 800px){
    .containerAleta{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 200px;
        margin-top: 10px;
        width:100%;
    }

    
}

@media(min-width: 800px){
    .aleta{
        height: 40px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

@media(min-width: 1000px){
    .form-product {
        display: flex;
        margin-top: 30px;
        width: 1000px;
    }
}

@media(min-width:800px){
    .formContainer{
        width:100%;
    }
}


