
@import url('../partials/background.css');
@import url('./menuAdmin.css');


.container {
    width: 100%;
}

.statisticsPanel {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: relative;
}

.containerGraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 59vw;
    transform: scale(0.6);
    position: absolute;
    top: -12vw;
}


.master {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 265px;
}

.left {
    left: -7vw;
}

.right {
    right: -7vw;
}

.graph {   
    width: 50vw;
    height: 59vw;
    box-sizing: content-box;
    display: flex;
    max-width: 352px;
    max-height: 413px;
}

.titulo {
    justify-content: center;
    display: flex;
    font-weight: bold;
    color: white;
    font-family: system-ui;
    font-size: 12px;
}

.concretadas {
    width: 700px;
    height: 413px;
    max-width: unset;
}

.statisticsPanel .concretadasC {
    width: 70vw;
}


@media (min-width: 1000px){
    .statisticsPanel {
        width: 1100px;
    }

    .containerGraph {
        width: 60%;
    }
}
