<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin/adminPanel.css">
</head>

<body>

        <section id='adminPanel'>

            <div id='panel-menu' class='panel-menu panel-gral'>
                <div class='board'>
                    <div class='board-box'>
                        <div>
                            <!--Inicio cards-->
                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/box.svg" alt=""></figure>
                                    <div><span>Productos</span></div>
                                </div>
                                <div id="box-products" class='coverButton'></div>
                            </div>

                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/clients.svg" alt=""></figure>
                                    <div><span>Clientes</span></div>
                                </div>
                                <div id="box-client" class='coverButton'></div>
                            </div>

                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/icon-factura.svg" alt=""></figure>
                                    <div><span>Mas Opciones</span></div>
                                </div>
                                <div id="box-ventas" class='coverButton'></div>
                            </div>
                            <!--Fin cards-->
                        </div>
                    </div>
                </div>
            </div>

            <div id='panel-products' class='noDisplay panel-gral'>
                <div class='board'>
                    <div class='board-box'>

                        <div id='productOptionsViews'>
                            <!--Inicio cards-->
                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/productUpload.svg" alt=""></figure>
                                    <div><span>Cargar</span></div>
                                </div>
                                <div id="productsLoaderButton" class='coverButton'></div>
                            </div>

                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/editProduct.svg" alt=""></figure>
                                    <div><span>Modificar</span></div>
                                </div>
                                <div id="productsEditButton" class='coverButton'></div>
                            </div>

                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/barcodeDetail.svg" alt=""></figure>
                                    <div><span>Consultar</span></div>
                                </div>
                                <div id="productsDetailButton" class='coverButton'></div>
                            </div>
                            <!--Fin cards-->
                        </div>

                        <div id='addProductView' class='noDisplay'>
                            <div class='final-card'>
                                <form id='formCreateAdd' class="formCreate" method="POST" enctype="multipart/form-data">
                                    
                                    

                                    <div class='formContainer'>
                                        <div class='finalCardTitle'><span>Carga de Productos</span></div>

                                        <div class='inputsContainerBox'>

                                            <div class="inputfield">
                                                <div class='addImageButton'>
                                                    <span>Imagen</span>
                                                    <input id='imageContainer' type="file" class="form-control" name="image" aria-label="file example">
                                                </div>
                                            </div>

                                            <div class="inputfield">
                                                <div>
                                                    <span>Nombre</span>
                                                    <input type="text" type="text" class="form-control" id="inputNameAdd" name="name">
                                                </div>
                                            </div>

                                            <div class="inputfield">
                                                <div>
                                                    <span>Precio Compra</span>
                                                    <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="inputBuyPriceAdd" name="buyPrice">
                                                </div>
                                            </div>
                                            
                                            <div class="inputfield">
                                                <div>
                                                    <span>Precio Venta</span>
                                                    <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="inputSellPriceAdd" name="sellPrice">
                                                </div>
                                            </div>

                                            <div class="inputfield">
                                                <div>
                                                    <span>Descripcion</span>
                                                    <input type="text" id="inputDescriptionAdd" name="description">
                                                </div>
                                            </div>

                                            <div class="inputfield">
                                                <div>
                                                    <span>Cantidad</span>
                                                    <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputAmountAdd" name="amount">
                                                </div>
                                            </div>

                                            <div class="inputfield">
                                                <div>
                                                    <span>Codigo de Barras</span>
                                                    <input type="text" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputBarcodeAdd" name="barcode">
                                                </div>
                                            </div>

                                            <div class="inputfield">
                                                <div>
                                                    <span>Marca</span>
                                                    <input type="text" id="inputMarkAdd" name="mark">
                                                </div>
                                            </div>

                                            <div class="inputfield">
                                                <div>
                                                    <span>Animal</span>
                                                    <!-- <input type="text" id="inputCategoryAdd" name="category"> -->
                                                    <select name="category" id="inputCategoryAdd" form="formCreateAdd">
                                                        <option value="default">Elija una categoria</option>
                                                        <option value="gato">Gato</option>
                                                        <option value="perro">Perro</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="inputfield">
                                                <div>
                                                    <span>Tipo de Producto</span>
                                                    <select name="subCategory" id="inputSubCategoryAdd" form="formCreateAdd">
                                                        <option value="default">Elija tipo de producto</option>
                                                        <option value="alimentos">Alimentos</option>
                                                        <option value="higiene">Higiene</option>
                                                        <option value="juguetes">Juguetes</option>
                                                        <option value="camas">Camas</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class='buttonOptionProduct'>
                                            <button class='backButton'>Volver</button>
                                            <button class='cleanInputs'>Limpiar campos</button>
                                            <button id='productCreate'>Cargar</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id='modifyProductView' class='noDisplay'>
                            <div class='final-card'>

                                    <section id='modifySearchView'>

                                        <div class='finalCardTitle'><span>Modificar Producto</span></div>
                                     
                                        <div id='searchModifyView'  class='searchResultBox'>
                                            <div class='modifySearchBox'>
                                                <div>
                                                    <span>Buscar producto</span><input id='searchInputModify' type="text">
                                                </div>
                                            </div>
                                            
                                            <div id="modifySearchResult" class='resultBox'>
                                                
                                            </div>
                                        </div>

                                    </section>

                                     <form id='formEdit' class="formCreate noDisplay" method="POST" enctype="multipart/form-data">
                                            
                                            <div class='formContainer'>
                                                <div class='finalCardTitle'><span>Modificar Producto</span></div>
                                            
                                                <div class='inputsContainerBox'>
                                            
                                                    <div class="inputfield">
                                                        <div class='addImageButton'>
                                                            <span>Imagen</span>
                                                            <input id='imageContainerEdit' type="file" class="form-control" name="image" aria-label="file example">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Nombre</span>
                                                            <input type="text" type="text" class="form-control" id="inputNameEdit" name="name">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Precio Compra</span>
                                                            <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="inputBuyPriceEdit" name="buyPrice">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Precio Venta</span>
                                                            <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="inputSellPriceEdit" name="sellPrice">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Descripcion</span>
                                                            <input type="text" id="inputDescriptionEdit" name="description">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Cantidad</span>
                                                            <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputAmountEdit" name="amount">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Codigo de Barras</span>
                                                            <input type="text" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputBarcodeEdit" name="barcode">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Marca</span>
                                                            <input type="text" id="inputMarkEdit" name="mark">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Categoria</span>
                                                            <input type="text" id="inputCategoryEdit" name="category">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="inputfield">
                                                        <div>
                                                            <span>Subcategoria</span>
                                                            <input type="text" id="inputSubCategoryEdit" name="subCategory">
                                                        </div>
                                                    </div>
                                            
                                                </div>
                                            
                                                <div class='buttonOptionProduct'>
                                                    <button class='backButton'>Volver</button>
                                                    <button class='cleanInputs'>Limpiar campos</button>
                                                    <button id='productSaveEdit'>Cargar</button>
                                                </div>
                                            
                                            </div>

                                     </form>
                                    
                            </div>
                        </div>
                        
                        <div id='consultProductView' class='noDisplay'>
                            <div class='final-card'>
                                <div class='formCreate' method="POST" enctype="multipart/form-data">
                                    <div class='finalCardTitle'><span>Detallar Producto</span></div>
                                    
                                    <div id="searchConsultView" class='searchResultBox'>

                                        <div class='modifySearchBox'>
                                            <div>
                                                <span>Buscar producto</span><input id='searchInputConsult' type="text">
                                            </div>
                                        </div>

                                        <div id="detailSearchResult" class='resultBox'>
                                            <div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                                

                                <div id='productConsultView'>
                                    <div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id='panel-clients' class='noDisplay panel-gral'>
                <div class='board'>
                    <div class='board-box'>

                        <div id='panelClientView'>
                            <!--Inicio cards-->
                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/statistics.svg" alt=""></figure>
                                    <div><span>Estadisticas Clientes</span></div>
                                </div>
                                <div id="clientStatistics" class='coverButton'></div>
                            </div>
                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/dogChat.svg" alt=""></figure>
                                    <div><span>Dog Chat</span></div>
                                </div>
                                <div id="dogChat" class='coverButton'></div>
                            </div>
                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/conecction.svg" alt=""></figure>
                                    <div><span>Online</span></div>
                                </div>
                                <div id="clientsOnline" class='coverButton'></div>
                            </div>
                            <!--Fin cards-->
                        </div>

                        <div id='clientStatisticsView' class='noDisplay'>
                            <div class='final-card'>
                                <div>
                                    <div><span>clientStatisticsView</span></div>
                                </div>
                            </div>
                        </div>

                        <div id='dogChatView' class='noDisplay'>
                            <div class='final-card'>
                                <div>
                                    <div><span>dogChatView</span></div>
                                </div>
                            </div>
                        </div>

                        <div id='clientOnlineView' class='noDisplay'>
                            <div class='final-card'>
                                <div>
                                    <div><span>clientOnlineView</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id='panel-moreOptions' class='noDisplay panel-gral'>
                <div class='board'>
                    <div class='board-box'>

                        <div id='moreOptionsView'>
                            <!--Inicio cards-->
                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/transaction.svg" alt=""></figure>
                                    <div><span>Transacciones</span></div>
                                </div>
                                <div id="transactions" class='coverButton'></div>
                            </div>
                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/moneyStatistics.svg" alt=""></figure>
                                    <div><span>Estadisticas</span></div>
                                </div>
                                <div id="statistics" class='coverButton'></div>
                            </div>
                            <div class='card-options'>
                                <div>
                                    <figure><img src="/files/gear.svg" alt=""></figure>
                                    <div><span>Conf. Avanzadas</span></div>
                                </div>
                                <div id="advanceOptions" class='coverButton'></div>
                            </div>
                            <!--Fin cards-->
                        </div>

                        <div id='transactionsView' class='noDisplay'>
                            <div class='final-card'>
                                <div>
                                    <div><span>transactionsView</span></div>
                                </div>
                            </div>
                        </div>

                        <div id='moneyStatisticsView' class='noDisplay'>
                            <div class='final-card'>
                                <div>
                                    <div><span>moneyStatisticsView</span></div>
                                </div>
                            </div>
                        </div>

                        <div id='advanceConfigurationView' class='noDisplay'>
                            <div class='final-card'>
                                <div>
                                    <div><span>advanceConfigurationView</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class='globalBackButton'>
                <div>
                    <img id='globalBackButton' src="/files/buttonBack.svg" alt="">
                </div>
            </div>

            <%- include('../partial/loadingCard'); %>

            <%- include('../partial/operationSuccess'); %>

            <div id='errorBox'>
                <div>
                    <img src="/files/errorCard.svg" alt="">
                    <div class='errorBoxInfo'>
                        <span>Ops!</span>
                        <span>Se encontraron los siguientes errores: </span>
                        <span id='boxErrorContainer'>error 1: debe ingresar name</span>
                        <button>CERRAR</button>
                    </div>
                </div>
            </div>

            

        </section>

</body>
<script src="/js/adminPanel.js"></script>

</html>