<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/adminPanel.css">
</head>
<body>
    <section id='adminPanel'>
        <div class='panel-left'>
            <div class='board'>
                <div class='board-product'>
                    <div><span>Opciones</span></div>
                    <div>
                        <!--Inicio card-->
                        <div class='card-options'>
                            <div>
                                <figure><img src="files/box.svg" alt=""></figure>
                                <div><span>Productos</span></div>
                            </div>
                        </div>
                        <!--Fin card-->
                        <div class='card-options'>
                            <div>
                                <figure><img src="files/clients.svg" alt=""></figure>
                                <div><span>Productos</span></div>
                            </div>
                        </div>
                        <div class='card-options'>
                            <div>
                                <figure><img src="files/icon-factura.svg" alt=""></figure>
                                <div><span>Productos</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='section-activity'>
                    <div class='activity-top'>
                        <div class='visit-today'>
                            <div>
                                <div>
                                    <span>Visits Today</span>
                                </div>
                                <div>
                                    <div>
                                        <span>7777</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='last-online-users'>
                            <div>

                                <div>
                                    <span>Users online</span>
                                </div>
                                <div class='online-container'>
                                    <div>
                                        <!--First Card-->
                                        <div class="card-online">
                                            <div><figure><img src="files/test-profile-logo.png" alt=""></figure></div>
                                            <span>Username</span>
                                        </div>
                                        <!--First Card-->
                                        <div class="card-online">
                                            <div><figure><img src="files/test-profile-logo.png" alt=""></figure></div>
                                            <span>Username</span>
                                        </div>
                                        <div class="card-online">
                                            <div><figure><img src="files/test-profile-logo.png" alt=""></figure></div>
                                            <span>Username</span>
                                        </div>
                                        <div class="card-online">
                                            <div><figure><img src="files/test-profile-logo.png" alt=""></figure></div>
                                            <span>Username</span>
                                        </div>
                                        <div class="card-online">
                                            <div><figure><img src="files/test-profile-logo.png" alt=""></figure></div>
                                            <span>Username</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class='statistics'>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='panel-right'>

        </div>
    </section>
</body>
</html>