<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/adminPanel.css">
</head>
<body>

    <%- include('../partial/menuMobileInvited'); %>
    <%- include('../partial/header-invited'); %>

    <section id='adminPanel'>

        <div class='panel-menu panel-gral'>
            <div class='board'>
                <div class='board-box'>
                    <div>
                        <!--Inicio cards-->
                        <div class='card-options'>
                            <div>
                                <figure><img src="files/box.svg" alt=""></figure>
                                <div><span>Productos</span></div>
                            </div>
                        </div>
                        <div class='card-options'>
                            <div>
                                <figure><img src="files/clients.svg" alt=""></figure>
                                <div><span>Clientes</span></div>
                            </div>
                        </div>
                        <div class='card-options'>
                            <div>
                                <figure><img src="files/icon-factura.svg" alt=""></figure>
                                <div><span>Ventas</span></div>
                            </div>
                        </div>
                        <!--Fin cards-->
                    </div>
                </div>
            </div>
        </div>

        <div class='panel-products panel-gral'>
            <div class='board'>
                <div class='board-box'>
                    <div>
                        <!--Inicio cards-->
                        <!--Fin cards-->
                    </div>
                </div>
            </div>
        </div>

        <div class='panel-clients panel-gral'>
            <div class='board'>
                <div class='board-box'>
                    <div>
                        <!--Inicio cards-->
                        <!--Fin cards-->
                    </div>
                </div>
            </div>
        </div>

        <div class='panel-facture panel-gral'>
            <div class='board'>
                <div class='board-box'>
                    <div>
                        <!--Inicio cards-->
                        <!--Fin cards-->
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>