@charset "UTF-8";

@import url('../partials/header-nav.css');
@import url('../partials/wsp-chat.css');
@import url('../partials/menu-mobile.css');
@import url('../partials/carrito.css');
@import url('../partials/footer.css');
@import url('../partials/background.css');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;   
}

div {
    display: block;
}

@media (min-width: 700px){
    .containerInformacion{
    width: 1000px;
    }
}


.productDetail-padre{
    margin-top: 100px;
}

@media (min-width: 700px){
    .productDetail-padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}

@media (min-width: 1000px){
    .productDetail-padre{
        align-items: center;
    }
}

.productDetail-img-info {
    display: flex;
    flex-direction: row;
    position: relative;

}

@media (max-width: 600px) {
    .productDetail-img-info{
        flex-direction: column;
    }
}

.productDetail-img-info{
    background-color: white;
    border-radius: 8px;

}

/* Caja de info*/

.productDetail-padre-info {
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .productDetail-padre-info{
        flex-direction: row-reverse;
        order: 1;
    }
}

/* .productDetail-padre-info {
    margin: 4px 0 0 30px;
    padding: 10px;
} */

@media (min-width: 500px){
    .productDetail-padre-info {
        width: 500px;
}
}


@media (max-width: 500px) {
    .productDetail-padre-info {
        margin: 0;
    }
}

.container-box-info {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}
/* Titulo*/

.container-title{
    height: 100px;
}

.title-h5 {
    font-weight: bold;
    font-size: 20px;
}

.subtitulo{
    color: rgb(107, 107, 107);
}
/* Precio*/
.container-price {
    font-size: 1.5rem;
}

/* Cantidad */
.product-quantity{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 100px;
}

.product-quantity p {
    font-size: 18px;
    font-weight: 600;
}

.product-quantity input {
    width: 60px;
    height: 30%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}

/* Botones*/
.btn-box{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.btn-box button {
    width: 100%;
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}

.cart-btn {
    background-color: #72aaca;
    margin-bottom: 20px;
}

.buy-btn {
    background-color: #72ca92;
}

.cart-btn:hover{
    background-color: #72cabe;
}

.buy-btn:hover {
    background-color: #72cabe;
}

/* Fin de botones*/

/* Fin de Caja de info*/

/* Caja img*/


.container-img{ 
    width: 100%;
    order: -1;
}

@media (max-width: 800px) {
    .image-big{
        width: 100%;
        height: 100%;
    }

}

.box-img {
    padding: 10px;
    object-fit: cover;
}

.box-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    object-fit: contain;
}


/* images*/

.images {
/*     display: inline-flex; */
    justify-content: space-between;
    align-items: center;
}


/* .small-img{
    flex-basis: 24%;
} */

.small-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
}

.img-zoom{
    box-shadow: 0 0 5px rgba(0,0,0,0.2 );
    margin: 5px 5px;
    border-radius: 10px;
}

/* .small-img {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    border: 1.5px solid black;
}     */

.small-img .img-zoom{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.small-img:hover .img-zoom{
    transform: scale(1.2);
}


/* Fin de Caja img*/

/*Descripción*/

.container-descripcion{
    display: flex;
    margin-top: 15px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}

.box-descripcion{
    width: 900px;
}

/* Fin de descripción*/

.containerInformacion{
    width: 100%;
}

@media (min-width:900px){
    .containerInformacion{
        width: 900px;
    }
}

/* caracteristicas */

.container-carac {
    display: flex;
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.box-carac {
    width: 900px;
}
/* Fin de caracteristicas*/