@charset "UTF-8";

@import url('../partials/carrito.css');
@import url('../partials/wsp-chat.css');
@import url('../partials/menu-mobile.css');
@import url('../partials/footer.css');
@import url('../partials/header-nav.css');
@import url('../partials/productCard.css');
@import url('../partials/background.css');


.resultTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%
}

.resultTitle div {
    width: 95%;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e76a8;
    border-radius: 3vw;
}

.resultTitle div span{
    font-size: 5vw;
    font-family: system-ui;
    font-weight: bold;
    color: #ffffff;
    margin: 1vw;
    line-height: 8vw;
}

.resultSearch {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 450px) {

    .resultTitle {
        margin-top: 10%;
    }

    .resultTitle div {
        border-radius: 12px;
        width: unset;
    }

    .resultTitle div span {
        font-size: 20px;
        line-height: unset;
    }

}


@media (min-width: 780px) {

    .resultTitle {
        margin-top: 5%;
    }

}