/* CARROUSEL */
#carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 57vw;
    max-height: 330px;
    margin-top: 10%;
  }
  
  .carousel__viewport {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .carousel__viewport li {
    list-style: none;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .carousel__viewport li img {
    height: 100%;
  }


/* ANIMATION */

.carrousel-in {
	-webkit-animation: carrousel-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: carrousel-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  
@-webkit-keyframes carrousel-in {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes carrousel-in {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  

.carrousel-out {
	-webkit-animation: carrousel-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: carrousel-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  
@-webkit-keyframes carrousel-out {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  @keyframes carrousel-out {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }