
/* NAV MOBILE */

a:-webkit-any-link {
  color: unser;
  cursor: pointer;
  text-decoration: unset;
}

body .desktop {
    display: none;
  }

  
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navPlaceTop {
  height: 70px;
}

.ingrese{
    text-decoration: none;
  }

nav {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-size: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #0e76a8;
  }

  .logo-desktop figure {
    margin: 0;
    padding: 0;
  }
  
  .logo-desktop figure img {
    width: 6em;
    object-fit: contain;
  }
  
  
  .nav-top {
    width: 100%;
    min-height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-top .menu-button {
    margin: 0 0 0 10px;
    padding: 0;
    height: 30px;
  }
  
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav-top-input-container {
    width: 66.6666666%;
  }
  
  .nav-top h1 {
    font-size: 10px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
  }
  
  .nav-top .carrito-button-container {
    height: 31px;
    margin: 0 5px 0px 0px;
    padding: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: flex;
  }
  
  nav figure img {
    height: 100%;
  }
  
  .nav-top input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .nav-desktop {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .nav-desktop > div {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
  
  .nav-desktop > div span {
    color: white;
    font-size: 18px;
  }
  
  .nav-down h1 {
    color: white;
    font-family: system-ui;
    font-size: 16px;
  }

  .nav-top .desktop div span {
    color: white;
    font-weight: bold;
    font-family: system-ui;
  }

  .header_lg{
    display: flex;
  }
  
  /* END NAV */


@media (min-width: 500px) {

  .nav-top {
      justify-content: space-around;
  }

}


@media (min-width: 768px) {

  nav .desktop {
      display: flex;
    }

  .nav-top .carrito-button-container {
      height: 35px;
    }
  .nav-top {
    min-height: 70px;
  }
  .nav-top-input-container {
    width: 57.666667%;
  }
  .nav-down {
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }
  
  .nav-down input {
      width: 50%;
      height: 40px;
  }
}

/* --- */

/* menu */

.nav-desplegable li{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-desplegable{
  margin-right: 0.8em;
}

#menu-nav ul {
  list-style:none;
  margin:0;
  padding:0;
}

/* items del menu */
#menu-nav {
  background-color:#225dbb00;
  border-style: double;
  border: 1px rgb(23, 132, 235) solid;
  border-radius: 8px;

}

/* enlaces del menu */

#menu-nav ul a {
  display:block;
  color:rgb(255, 255, 255);
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  letter-spacing:1px;
}

/* items del menu */

#menu-nav ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

.li-menu{
  background-color: rgb(55, 169, 214);
}
/* efecto al pasar el ratón por los items del menu */

#menu-nav .li-menu:hover {
  transition: 0.5s;
  background:#ab80dd;
}

/* menu desplegable */

#menu-nav ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#eee;
  padding:0;
}

/* items del menu desplegable */

#menu-nav ul ul li {
  float:none;
  width:150px
}

/* enlaces de los items del menu desplegable */

#menu-nav ul ul a {
  line-height:120%;
padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#menu-nav ul li:hover > ul {
  display:block;
}

/* img */
.avatarHeader {
  margin-left: 0.2em;
  width: 2em;
  height: 2em;
}

.avatarHeaderImage{
  width: 100%;
  border-radius: 2em;
  background-color: rgb(140 44 205);
}

.fas.fa-user-circle{
  color: rgb(182 113 229);
  margin-left: 0.1em;
}