
/* MENU-MOBILE */

.figure-logo {
  background-color: white;
  border-radius: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-in {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-250px);
      transform: translateX(-250px);
    }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-250px);
      transform: translateX(-250px);
    }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  
  .menu-out {
    -webkit-animation: slide-left-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-left-menu {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-250px);
      transform: translateX(-250px);
    }
  }
  
  @keyframes slide-left-menu {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-250px);
      transform: translateX(-250px);
    }
  }
  
  #menu-mobile {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    z-index: 3;
  }
  
  #menu-container {
    display: none;
    width: 250px;
    height: 100%;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  
  .logo-close-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #0e76a8;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .logo-close-menu a {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    float: right;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    opacity: .9;
    line-height: 28px;
    margin-right: 15px;
  }
  
  .logo-close-menu figure {
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }
  
  .logo-close-menu figure img {
    margin: 0;
    padding: 0;
    width: 45px;
  }
  
  .menu-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    background-color: #f4f4f4;
    color: #444444;
    font-weight: bold;
    font-family: system-ui;
    font-size: 15px;
  }
  
  .menu-row {
    width: 100%;
    height: 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px #f4f4f4 solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .menu-row figure {
    margin: 0 10px 0 10px;
    padding: 0;
    width: 19px;
    height: 19px;
  }
  
  .menu-row figure img {
    margin: 0;
    padding: 0;
    width: 19px;
    height: 19px;
  }
  
  .menu-row span {
    cursor: pointer;
    color: #4b4b4b;
    font-family: system-ui;
  }
  
  /* END MENU-MOBILE */