<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">

</head>

<body id="Product-body">
    <%- include('../partial/menuMobileLoged'); %>
    <%- include('../partial/header-loged'); %>

    <div class="container-padre">

        <div class="container-img-info">

            <div class="padre-info">

                <div class="container-box-info">

                    <div class="container-info">

                        <div class="container-title">
                            <h5 class="title-h5">Lorem ipsum dolor sit amet.</h5>
                            <p class="subtitulo">Lorem ipsum</p>
                        </div>

                        <div class="container-price">
                            <div class="price">$$$$</div>
                        </div>

                        <div class="product-quantity">
                            <p>Cantidad :</p>
                            <input type="number" id="cantidad" name="cantidad" min="1" max="10">
                        </div>

                        <div class="btn-box">
                            <div class="btn-cart">
                                <button class="cart-btn"> Añadir al carrito</button>
                            </div>
                            <div class="btn-buy">
                                <button class="buy-btn"> Comprar ahora </buttom>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container-img">

                <div class="container-img-row">

                    <div class="box-gallery">

                        <div class="box-img">
                            <img width="490" height="490" src="/img/product1.jpg">
                        </div>
                        <div class="images">
                            <div class="small-img">
                                <img width="70" height="70" src="/img/product1.jpg" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img width="70" height="70" src="/img/img-1.jpg" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img width="70" height="70" src="/img/img-3.jpg" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img width="70" height="70" src="/img/img-4.jpg" onclick="showImg(this.src)">
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>








        <div class="container-descripcion">
            <div class="box-descripcion">
                <p class="p-Descripcion"><h4>Descripción</h4> </p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vel, accusamus adipisci mollitia
                molestias
                illo placeat. Veniam ducimus qui eveniet cupiditate ipsam, perspiciatis natus autem, magni soluta harum,
                error rerum perferendis ut vel est assumenda? Iure voluptatum laudantium aliquam, a modi officia quae
                nam ea
                iste eius dolorum, et aut dolorem veritatis consequatur consequuntur quod mollitia praesentium iusto
                aperiam
                eveniet!
            </div>
        </div>

        <div class="container-carac">
            <div class="box-carac">
                <h4 class="carac-h3">Caracteristicas</h4>
                <p>
                    - Lorem ipsum dolor sit amet consectetur adipisicing elit.

                </p>
                <p>
                    - Lorem ipsum dolor sit amet consectetur adipisicing.

                </p>
                <p>
                    - Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iusto, magni voluptatem ipsum
                    beatae et!

                </p>
                <p>
                    - Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ab eaque, qui vero, nobis
                    laudantium pariatur illum ea corrupti nihil doloremque corporis cum! Reiciendis fugit sed tempora
                    molestiae! Sunt, ad.
                </p>








            </div>
        </div>
    </div>
    
    <%- include('../partial/footer'); %>

    <script>
        let bigImg = document.querySelector('.box-img img');
        function showImg(pic) {
            bigImg.src = pic;
        }
    </script>



</body>

</html>