<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/login.css">
    <title>Inicio de sesión</title>
</head>

<body id="body">

    <%- include('../partial/header'); %>

        <section class="container-form">
            <div class="container">
                <div class="user singinBox">
                    <div class="formBx">
                        <form id="formLogin" method="POST">
                            <h2>Inicio de Sesión</h2>
                            <div class="imgLogin">
                                <img src="/img/login/giphy.gif" alt="">
                            </div>
                            <input class="inputLogin" id="loginEmail" name="email" type="email" placeholder="Correo electronico">
                            <% if (locals.errors && errors.email) { %>
                                <small class="text-danger">
                                    <%= errors.email.msg %>
                                </small>
                            <% } %>

                            <small class="text-danger" id="loginErrorEmail"></small>

                            <input class="inputLogin" id="input-password" type="password" name="pass" placeholder="Contraseña">
                            <% if (locals.errors && errors.pass) { %>
                                <small class="text-danger">
                                    <%= errors.pass.msg %>
                                </small>
                            <% } %>

                            <div class="">
                                <input class="checkRegisterlogin" type="checkbox" name="remember" id="check">
                                <label for="check">Recordar</label>
                            </div>

                            <small class="text-danger" id="loginErrorform"></small>

                            <input class="submitLogin" type="submit" value="Iniciar sesion">
                            <p class="signup">¿No tienes cuenta? <a href="/ps/register">
                                Obtén una cuenta.</a>
                            </p>
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partial/footer'); %>

            <script src="/js/loginValidator.js"></script>
</body>

</html>